/* styles for base template page */
#head-spacer{
    height:136px;
}
#wrapper {
    min-height: calc(100vh - 50px);
}

.navbar-dark .navbar-nav .nav-link {
    color: #fcc219;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
}

#footer {
    background-color: #162518;
    height: 50px;
    position: relative;
}

.app-copy {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.app-copy a {
    color: #fcc219;
}

.app-copy a:hover {
    text-decoration: none;
    color:#ffffff;
}

.app-power {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.btn-data-info{
    border: 1px solid #fcc219;
    background-color: #ffffff99;
    color: #162518;
}

.btn-data-info:hover{
    border: 1px solid #fcc219;
    background-color: #162518;
    color: #fcc219;
}

@media screen and (max-width: 650px) {
    .footer_home{
        display: none;
    }
}