/* styles specific to map_fullscreen.html */
.sidenav {
    height: calc(100vh - 186px);
    padding: 0px;
    width: 350px;
    position: fixed;
    z-index: 100;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 0px 23px 8px 18px;
    text-decoration: none;
    /*font-size: 25px;*/
    color: #818181;
    display: block;
    transition: 0.3s;
}

.layers{
    padding-left: 0!important;
}

span.rst__rowTitle {
    padding-left: 1em;
}

.close-panel {
    padding-right: 25px;
    font-size: 25px;
}

.sidenav .basemap_img {
    padding: 0;
}


.sidenav a:hover {
    color: #818181;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#nav_opener {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    left: 0px;
    z-index: 999;
    background-color: #ffffff;
    width: 50px;
}

.rst__rowWrapper {
    padding: 0 10px 0 0;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.rst__rowLabel{
    width: 100%;
}

.fire_counter{
    width: 100%;
    text-align: end;
    padding-right: 5px;
}

.cblabel{
    max-width: calc(100% - 16px);
    text-overflow: ellipsis;
    overflow: hidden;
}

.rst__row {
    height: 100%;
    white-space: nowrap;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-width: 100%;
    max-width: 100%;
}

.rst__moveHandle,
.rst__loadingHandle {

    height: auto;
    width: 44px;
    /*background: #7eaddb url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MiIgaGVpZ2h0PSI0MiI+PGcgc3Ryb2tlPSIjRkZGIiBzdHJva2Utd2lkdGg9IjIuOSI+PHBhdGggZD0iTTE0IDE1LjdoMTQuNE0xNCAyMS40aDE0LjRNMTQgMjcuMWgxNC40Ii8+PC9nPjwvc3ZnPg==) no-repeat 50%;*/
    background: #fcc219 url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MiIgaGVpZ2h0PSI0MiI+PGcgc3Ryb2tlPSIjRkZGIiBzdHJva2Utd2lkdGg9IjIuOSI+PHBhdGggZD0iTTE0IDE1LjdoMTQuNE0xNCAyMS40aDE0LjRNMTQgMjcuMWgxNC40Ii8+PC9nPjwvc3ZnPg==) no-repeat 50%;
    border: solid #0c1a4e 1px;
    -webkit-box-shadow: #0c1a4e 2px 2px 4px 0px;
    box-shadow: #0c1a4e 2px 2px 4px 0px;
    cursor: move;
    border-radius: 1px;
    z-index: 1;
}

.rst__rowContents {
    position: relative;
    height: 100%;
    border: 0; /* 1px solid #bbb;*/
    border-left: none;
    -webkit-box-shadow: #0c1a4e 0px 2px 4px 0px;;
    box-shadow: #0c1a4e 0px 2px 4px 0px;;
    padding: 0 5px 0 10px;
    border-radius: 2px;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    max-width: calc(100% - 44px);
}

.map_control_style {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    justify-content: space-between;
}

#control_label {
    font-size: 20px;
}

.side_panel {
    /*padding-left: 30px;*/
    margin-top: 15px;
    margin-bottom: 10px;
}

/*.full_map_popover {*/
/*    padding-top: 0;*/
/*    display: flex;*/
/*}*/

#layer-control-parent-id-full {
    padding: 0px;
    border: 1px solid gray;
    margin: 10px;
    width: 90%;
    border-radius: 0.2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#layer-control-id-full {
    margin: 0px;
    padding: 0px;
    /*border: 1px solid gray;*/
    background: none;
    box-shadow: none;
    width: 20vh;
    font-size: small;
    position: absolute;
    display: contents;
}

#location_full {
    display: flow-root;
    padding: 0px;
}

#map3 {
    height: calc(100vh - 166px);
    z-index: 99;
    margin-left: 5px;

}

.leaflet-top.leaflet-right {
    margin-right: 20px;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.img-thumbnail {
    border: none;
}

#loading_full {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 500;
}

#loading-image-full {
    z-index: 500;
}

html {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.map-thumb-full {
    float: left;
    position: relative;
    overflow: hidden;
    max-height: 300px;
    cursor: pointer;
    margin: 5px;
    max-width: calc(50% - 12px);
}
