{% extends "WebApp/app_base.html" %}
{% load static %}
{% block title %}Cerro Cantil Protoservices - About{% endblock %}
{% block script %}
    <!-- Custom styles-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="{% static '/css/about.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom scripts-->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}

{% block content %}
    <br>
    <!-- Root container for the about page's content -->
    <div class="container-fluid  bg-gray-300">
        <!-- About -->
        <!-- Update the text inside <p> tags in order to update the about text -->
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">About this application</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-left text-dark">
                            <p>This is a prototype visualization app for the Cerro Cantil protected area in Guatemala. The purpose of the app is to offer central access to several Earth-observation datasets to monitor the health of the protected area.

                                Initially, the application incorporates fire monitoring (from FIRMS), both historical and current, and high-resolution imagery made available under research grants to SERVIR.</p>
                            <h5>
                                Status: Active @ SCO
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team member listing -->
        <!-- Change the path in src of <img> tag in order to replace a team member's picture -->
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Team members</h6>
                    </div>



                    <div class="card-body text-center">
                        {% for member in team %}
                            <span onclick="open_more_info(this)"
                            class="p-3 d-inline-block text-decoration-none pointer team-member"
                            style="background-image: url({{ member.image_url }});
                            background-size: cover; background-position: center;"
                            ><p style="height:135px;"></p>
                            <p>{{ member.name}}</p>
                            <span style="display:none;" class="member_title">
                                    {{ member.bio.title }}
                                    </span>
                            <span style="display:none;" class="more_info">
                                        {{ member.bio.description }}
                                    </span>
                            </span>

                        {% endfor %}



                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Disclaimer -->
    <!-- Update the text inside <strong> in order to update the disclaimer text -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow ml-4 mr-4 mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Disclaimer</h6>
                </div>
                <div class="card-body">
                    <div class="text-left text-dark">
                        SERVIR's standard disclaimer is
                        <hr>
                        <strong>SERVIR Program, NASA, USAID and SERVIR partner organizations
                            make no express or implied warranty of this application as to the
                            merchantability or fitness for any particular purpose.
                            Neither the US Government nor its contractors shall be liable for
                            special, consequential or incidental damages attributed to this application.</strong>
                        <hr>
                        Modify it to add other organizations that contributed to the
                        development of this application as necessary.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Logos -->
    <!-- Update the path inside src of <img> tag in order to update the logo images -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow m-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Logos</h6>
                </div>
                <div class="card-body text-center">
                    <a href="" class="p-3"><img class="org-logo" src="{% static 'images/logos/AMZ_Alliance.jpg' %}"></a>
                    <a href="" class="p-3"><img class="org-logo" src="{% static 'images/logos/ICRISAT.jpg' %}"></a>
                    <a href="" class="p-3"><img class="org-logo" src="{% static 'images/logos/RCMRD.jpg' %}"></a>
                    <a href="" class="p-3"><img class="org-logo" src="{% static 'images/logos/ICIMOD.jpg' %}"></a>
                    <a href="" class="p-3"><img class="org-logo" src="{% static 'images/logos/ADPC.jpg' %}"></a>

                </div>
            </div>
        </div>
    </div>


    <br>
    </div>
    <div class="modal fade" id="teamMemberModal" tabindex="-1" role="dialog" aria-labelledby="teamMemberModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="teamMemberModalLabel">Team Member Name</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add team member information here -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
