{% extends "WebApp/app_base.html" %}

{% load static %}

{% block title %}Cerro Cantil Protoservices - Map{% endblock %}
{% block script %}
    <!-- Leaflet-->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.control.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
          integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
            integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
    <script src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js"
            integrity="sha512-E0DKVahIg0p1UHR2Kf9NX7x7TUewJb30mxkxEm2qOYTVJObgsAGpEol9F6iK6oefCbkJiA4/i6fnTHzM6H1kEA=="
            crossorigin=""></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.min.js"></script>
    <script src="{% static '/js/L.Control.Opacity.js' %}"></script>
    <link href="{% static '/css/L.Control.Opacity.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/3.0.5/leaflet-search.src.js"
            integrity="sha512-PDM7dpetuBcPp2fV/ZyCj9BGV8ybPchsrSzQqVZ3WoM8YcxEa2lAj0n1+4MCRzgsEROmVTwQXGw0IrXCCgH+/Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/modules/exporting.js' %}"></script>
    <script src="{% static 'js/modules/export-data.js' %}"></script>
    <script src="{% static 'js/modules/accessibility.js' %}"></script>
    <script src="{% static 'data/cerro_cantil.js' %}"></script>
    <script src="{% static 'data/santa_maria.js' %}"></script>

    <script src="{% static 'data/tzeja_river.js' %}"></script>
    <script src="{% static 'data/yarcon_river.js' %}"></script>
    <script src="{% static 'data/zoreco_river.js' %}"></script>
    <script src="{% static 'data/pajuil_river.js' %}"></script>
    <script src="{% static '/js/leaflet-providers.js' %}"></script>

    <script src="{% static 'js/utils.js' %}"></script>

    <script src="{% static 'js/basemaps.js' %}"></script>
    <link
            rel="stylesheet"
            href="{% static '/css/geosearch.css' %}"
    />

    <link href="{% static '/css/full_map.css' %}" rel="stylesheet"/>

    <script src="{% static '/js/geosearch.umd.js' %}"></script>
    <script src="{% static '/js/map_utils.js' %}"></script>
    <script>
        let client_layers = [];
        {% for layer in wms_layers %}
            client_layers.push({
                "id": "{{ layer.id }}",
                title: "{{ layer.title }}",
                url: "{{ layer.url }}",
                attribution: "{{ layer.attribution }}",
                layers: "{{ layer.layers }}"
            });
        {% endfor %}
        const planet_id = '{{ planet_id }}';
    </script>

{% endblock %}

{% block content %}

    <div class="container-fluid p-0  bg-gray-300">

        <div class="row">
                    <span
                            id="nav_opener"
                            onclick="openNav()" style="display: none;">&#9776;</span>
            <div id="mySidenav" class="sidenav open">
                <div class="map_control_style">
                    <label id="control_label">Map Control</label>
                    <a href="javascript:void(0)" onclick="closeNav()" class="close-panel"> &times;</a>
                </div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="layers-tab" data-bs-toggle="tab" data-bs-target="#layers" type="button" role="tab" aria-controls="layers" aria-selected="true">Layers</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="weather-tab" data-bs-toggle="tab" data-bs-target="#weather" type="button" role="tab" aria-controls="weather" aria-selected="false">Weather</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="basemaps-tab" data-bs-toggle="tab" data-bs-target="#basemaps" type="button" role="tab" aria-controls="basemaps" aria-selected="false">Basemaps</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="layers" role="tabpanel" aria-labelledby="layers-tab" style="margin-top: 10px;"><ol class="layers vertical w-100" id="layer-list">

                        <li id="cerro_cantil_node"
                            style="display: block; max-width: 100%; ">
                            <div class="rst__nodeContent" style="left: 44px">
                                <div style="height: 100%">
                                    <div class="rst__rowWrapper">
                                        <div class="rst__row" style="opacity: 1" draggable="true">
                                            <div class="rst__moveHandle"></div>
                                            <div class="rst__rowContents ignore-elements">
                                                <div class="rst__rowLabel">
                                                                  <span
                                                                          class="rst__rowTitle"
                                                                          title="Cerro Cantil"
                                                                          data-toggle="tooltip"
                                                                  >
                                                                      <input type="checkbox"
                                                                             id="cerro_cantil"
                                                                             name="cerro_cantil"
                                                                             checked
                                                                             class="form-check-input"
                                                                      />
                                                                      <label for="cerro_cantil"
                                                                             class="cblabel">Cerro Cantil</label>
                                                                      <br/>
                                                                  </span>
                                                    <div>
                                                        <i id="legend_cerro_cantil"
                                                           class="fas fa-list legend-btn"
                                                           onclick="openLegend('cerro_cantil')"
                                                           style="float: left; margin: 0 0 15px 15px;visibility: hidden;">

                                                        </i>
                                                        <i class="fas fa-cog settings-btn"
                                                           onclick="openSettings('cerro_cantil')"
                                                           style="float: left; margin: 0 0 15px 15px;visibility: hidden;">

                                                        </i>
                                                    </div>


                                                </div>
                                                <div class="rst__rowToolbar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li id="santa_maria_node"
                            style="display: block; max-width: 100%; ">
                            <div class="rst__nodeContent" style="left: 44px">
                                <div style="height: 100%">
                                    <div class="rst__rowWrapper">
                                        <div class="rst__row" style="opacity: 1" draggable="true">
                                            <div class="rst__moveHandle"></div>
                                            <div class="rst__rowContents ignore-elements">
                                                <div class="rst__rowLabel">
                                                                  <span
                                                                          class="rst__rowTitle"
                                                                          title="Santa Maria Tzeja"
                                                                          data-toggle="tooltip"
                                                                  >
                                                                      <input type="checkbox"
                                                                             id="santa_maria"
                                                                             name="santa_maria"
                                                                             checked
                                                                             class="form-check-input"
                                                                      />
                                                                      <label for="santa_maria"
                                                                             class="cblabel">{% autoescape off %}Santa María Tzejá{% endautoescape %}</label>
                                                                      <br/>
                                                                  </span>
                                                    <div>
                                                        <i id="legend_santa_maria"
                                                           class="fas fa-list legend-btn"
                                                           onclick="openLegend('santa_maria')"
                                                           style="float: left; margin: 0 0 15px 15px;visibility: hidden;">

                                                        </i>
                                                        <i class="fas fa-cog settings-btn"
                                                           onclick="openSettings('santa_maria')"
                                                           style="float: left; margin: 0 0 15px 15px;visibility: hidden;">

                                                        </i>
                                                    </div>
                                                </div>
                                                <div class="rst__rowToolbar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="cam_areas_node"
                            style="display: block; max-width: 100%; ">
                            <div class="rst__nodeContent" style="left: 44px">
                                <div style="height: 100%">
                                    <div class="rst__rowWrapper">
                                        <div class="rst__row" style="opacity: 1" draggable="true">
                                            <div class="rst__moveHandle"></div>
                                            <div class="rst__rowContents ignore-elements">
                                                <div class="rst__rowLabel">
                                                                  <span
                                                                          class="rst__rowTitle"
                                                                          title="Áreas Protegidas Centroamérica"
                                                                          data-toggle="tooltip"
                                                                  >
                                                                      <input type="checkbox"
                                                                             id="cam_areas"
                                                                             name="cam_areas"
                                                                             checked
                                                                             disabled
                                                                             class="form-check-input"
                                                                      />
                                                                      <label for="cam_areas"
                                                                             class="cblabel">Áreas Protegidas Centroamérica</label>
                                                                      <br/>
                                                                  </span>
                                                    <div>
                                                        <i id="legend_cam_areas "
                                                           class="fas fa-list legend-btn"
                                                           onclick="openLegend('cam_areas')"
                                                           style="float: left; margin: 0 0 15px 15px;visibility: hidden;">

                                                        </i>
                                                        <i class="fas fa-cog settings-btn"
                                                           onclick="openSettings('cam_areas')"
                                                           style="float: left; margin: 0 0 15px 15px;visibility: hidden;">

                                                        </i>
                                                    </div>


                                                </div>
                                                <div class="rst__rowToolbar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>


                        <li id="rivers_node"
                            style="display: block; max-width: 100%; ">
                            <div class="rst__nodeContent" style="left: 44px">
                                <div style="height: 100%">
                                    <div class="rst__rowWrapper">
                                        <div class="rst__row" style="opacity: 1">
                                            <div class="rst__moveHandle"></div>
                                            <div class="rst__rowContents ignore-elements">
                                                <div class="rst__rowLabel">
                                                                  <span
                                                                          class="rst__rowTitle"
                                                                          title="Ríos Santa María Tzejá"
                                                                          data-toggle="tooltip"
                                                                  >
                                                                      <input type="checkbox"
                                                                             id="rivers"
                                                                             name="rivers"
                                                                             checked
                                                                             class="form-check-input"
                                                                      />
                                                                      <label for="rivers"
                                                                             class="cblabel">Ríos Santa María Tzejá</label>
                                                                      <br/>
                                                                  </span>
                                                    <div>
                                                        <i id="legend_rivers "
                                                           class="fas fa-list legend-btn"
                                                           onclick="openLegend('rivers')"
                                                           style="float: left; margin: 0 0 15px 15px;visibility: hidden;">

                                                        </i>
                                                        <i class="fas fa-cog settings-btn"
                                                           onclick="openSettings('rivers')"
                                                           style="float: left; margin: 0 0 15px 15px;visibility: hidden;">

                                                        </i>
                                                    </div>


                                                </div>
                                                <div class="rst__rowToolbar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% for layer in wms_layers %}
                            <li id="{{ layer.id }}_node"
                                style="display: block; max-width: 100%; ">
                                <div class="rst__nodeContent" style="left: 44px">
                                    <div style="height: 100%">
                                        <div class="rst__rowWrapper">
                                            <div class="rst__row" style="opacity: 1">
                                                <div class="rst__moveHandle"></div>
                                                <div class="rst__rowContents ignore-elements">
                                                    <div class="rst__rowLabel">
                                                                  <span
                                                                          class="rst__rowTitle"
                                                                          title="{{ layer.title }}"
                                                                          data-toggle="tooltip"
                                                                  >
                                                                      <input type="checkbox"
                                                                             id="wms_{{ layer.id }}"
                                                                             name="wms_{{ layer.id }}"
                                                                             class="form-check-input"
                                                                             onchange="toggle_layer(this.checked, '{{ layer.id }}_layer')"/>
                                                                      <label for="wms_{{ layer.id }}"
                                                                             class="cblabel">{{ layer.title }}</label>
                                                                      <br/>
                                                                  </span>
                                                        <div>
                                                            <i id="legend_{{ layer.id }} "
                                                               class="fas fa-list legend-btn"
                                                               onclick="openLegend('{{ layer.id }}')"
                                                               style="float: left; margin: 0 0 15px 15px;visibility: hidden;">

                                                            </i>
                                                            <i class="fas fa-cog settings-btn"
                                                               onclick="openSettings('{{ layer.id }}')"
                                                               style="float: left; margin: 0 0 15px 15px;visibility: hidden;">

                                                            </i>
                                                            <p class="fire_counter">
                                                                <span id="{{ layer.id }}_count">0</span>
                                                                <span>hotspots</span>
                                                            </p>
                                                        </div>


                                                    </div>
                                                    <div class="rst__rowToolbar"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <script>
                                $(function () {
                                    window._{{ layer.id }}_countUpdater = function _{{ layer.id }}_countUpdater() {
                                        if (map) {
                                            map.on('moveend', function (e) {
                                                getFireCount('{{ layer.wfs_layer_types }}', '{{ layer.id }}_count');
                                                get_monthly_fires();
                                            });
                                            getFireCount('{{ layer.wfs_layer_types }}', '{{ layer.id }}_count');
                                        } else {
                                            setTimeout(_{{ layer.id }}_countUpdater, 250);
                                        }
                                    }
                                    _{{ layer.id }}_countUpdater();

                                });
                            </script>
                        {% endfor %}
                        <li id="planet_node"
                            style="display: block; max-width: 100%; ">
                            <div class="rst__nodeContent" style="left: 44px">
                                <div style="height: 100%">
                                    <div class="rst__rowWrapper">
                                        <div class="rst__row" style="opacity: 1">
                                            <div class="rst__moveHandle"></div>
                                            <div class="rst__rowContents ignore-elements opacity-control">
                                                <div class="rst__rowLabel opacity-control">
                                                                  <span
                                                                          class="rst__rowTitle"
                                                                          title="Imágenes de Alta Resolución (fuente: Planet - últimos 5 días)"
                                                                          data-toggle="tooltip"
                                                                  >
                                                                      <input type="checkbox"
                                                                             id="planet"
                                                                             name="planet"
                                                                             class="form-check-input"
                                                                      />
                                                                      <label for="planet"
                                                                             class="cblabel">Imágenes de Alta Resolución (fuente: Planet - últimos 5 días)</label>
                                                                      <br/>
                                                                  </span>
                                                    <div class="opacity-control">
                                                        <input id="opacity_planet"
                                                               type="range"
                                                               max="1"
                                                               min="0"
                                                               value="1"
                                                               step="0.01"
                                                               style="display: block;width:100%;"
                                                               class="opacity-control"
                                                        /><label class="ml-1" for="opacity_planet"
                                                                 id="planet_opacity"></label>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol></div>
                    <div class="tab-pane fade" id="weather" role="tabpanel" aria-labelledby="weather-tab" style="margin-top: 10px;">
                        <div class="accordion-body" id="weathertab" aria-labelledby="profile-tab">
                            <div id="wwo-weather-widget-1"></div>
                            <script type='text/javascript'
                                    src='https://www.worldweatheronline.com/widget/v5/weather-widget.ashx?loc=908553&wid=1&tu=1&div=wwo-weather-widget-1'
                                    async></script>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="basemaps" role="tabpanel" aria-labelledby="basemaps-tab"> <div class="accordion-body" id="basemaps" aria-labelledby="profile-tab">
                        <div class="text-center">
                            <div class="map-thumb-full">
                                <a class="basemap_img" id="osm" href="#"
                                   onclick="add_basemap(this.id);"><img
                                        src="{% static 'images/basemaps/osm.png' %}" alt="img1"
                                        class="img-thumbnail">
                                </a>
                            </div>
                            <div class="map-thumb-full">
                                <a class="basemap_img" id="topo" href="#"
                                   onclick="add_basemap(this.id);"><img
                                        src="{% static 'images/basemaps/topo.png' %}" alt="img1"
                                        class="img-thumbnail">
                                </a>
                            </div>
                            <div class="map-thumb-full">
                                <a class="basemap_img" id="gsatellite" href="#"
                                   onclick="add_basemap(this.id);"><img
                                        src="{% static 'images/basemaps/gsatellite.png' %}" alt="img1"
                                        class="img-thumbnail">
                                </a>
                            </div>

                            <div class="map-thumb-full">
                                <a class="basemap_img" id="satellite" href="#"
                                   onclick="add_basemap(this.id);"><img
                                        src="{% static 'images/basemaps/satellite.png' %}" alt="img1"
                                        class="img-thumbnail">
                                </a>
                            </div>
                            <div class="map-thumb-full">
                                <a class="basemap_img" id="terrain" href="#"
                                   onclick="add_basemap(this.id);"><img
                                        src="{% static 'images/basemaps/terrain.png' %}" alt="img1"
                                        class="img-thumbnail">
                                </a>
                            </div>
                            <div class="map-thumb-full">
                                <a class="basemap_img" id="delorme" href="#"
                                   onclick="add_basemap(this.id);"><img
                                        src="{% static 'images/basemaps/delorme.png' %}" alt="img1"
                                        class="img-thumbnail">
                                </a>
                            </div>

                        </div>
                    </div></div>
                </div>

                <br>
                <br>
            </div>
            <div id="map3">

            </div>
            <div class="footerDrawer">
                <div class="open">Mostrar Gráfico</div>
                <div id="attribution_icon" onclick="openAttribution()"></div>
                <div class="content" id="chart_holder"></div>
            </div>
            <script src="{% static '/js/map_fullscreen.js' %}"></script>
            <link rel="stylesheet" href="{% static 'css/common.css' %}">
        </div>
    </div>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" id="modal-content">
            <span class="close" onclick="closeAttribution()">&times;</span>
            <p id="modalAttribution"></p>
        </div>
    </div>
    </div>

{% endblock %}
